/* textarea {
    resize: none;
    border: none;
    font-family: default_Medium;
}

textarea:focus {
    outline: none;
} */

.faq_title {
    display: flex;
    align-items: flex-end;
    height: 250px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: default_Bold;
}

.faq_container {
    border-top: 2px solid #000000;
    width: 1000px;
    margin: 40px auto auto auto;
    height: 100%;
}

.faq_row_box {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000000;
    color: #000000;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq_row_box:hover {
    background-color: #f1f1f1;
}

.faq_row_box.open {
    background-color: #0c2746;
    color: #ffffff;
}

.faq_text {
    width: 950px;
    text-indent: 10px;
    font-family: default_Medium;
}

.faq_arrow {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.faq_row_detail {
    width: 100% - 10px;
    line-height: 30px;
    padding: 10px;
    min-height: 100px;
    background-color: #dddddd;
    color: #000000 !important;
    display: none;
}