html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

.line_box {
    width: 300px;
    float: right;
    margin-top: 150px;
}

.line {
    height: 8px;
    border-bottom: 1px solid #ffffff;
}

.line_box .line:nth-child(1) {
    width: 1150px;
    border-color: #ffffff;
    border-width: 3px;
    float: right;
    animation: line1 0.5s forwards;
}

.line_box .line:nth-child(2) {
    width: 1000px;
    border-color: #eeeeee;
    border-width: 2.5px;
    float: right;
    animation: line2 0.7s forwards;
}

.line_box .line:nth-child(3) {
    width: 850px;
    border-color: #dddddd;
    border-width: 2px;
    float: right;
    animation: line3 0.9s forwards;
}

.line_box .line:nth-child(4) {
    width: 700px;
    border-color: #cccccc;
    border-width: 1.5px;
    float: right;
    animation: line4 1.1s forwards;
}

.line_box .line:nth-child(5) {
    width: 550px;
    border-color: #bbbbbb;
    border-width: 1px;
    float: right;
    animation: line5 1.3s forwards;
}

.screen,
.slide {
    width: 1920px;
    height: 1080px;
    position: relative;
}

.mazi_img {
    background-image: url(../image/index_1st/0.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.vision_img {
    background-image: url(../image/index_1st/1.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.trust_img {
    background-image: url(../image/index_1st/2.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.value_img {
    background-image: url(../image/index_1st/3.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.mazi_txt,
.vision_txt,
.trust_txt,
.value_txt {
    width: 1920px;
    height: 600px;
    background-size: 918px 612px;
    background-repeat: no-repeat;
    background-position: 0px 150px;

    animation: text 1s forwards;
}

.mazi_txt {
    background-image: url(../image/index_1st/0_text.png);
    background-repeat: no-repeat;
}

.vision_txt {
    background-image: url(../image/index_1st/1_text.png);
    background-repeat: no-repeat;
}

.trust_txt {
    background-image: url(../image/index_1st/2_text.png);
    background-repeat: no-repeat;
}

.value_txt {
    background-image: url(../image/index_1st/3_text.png);
    background-repeat: no-repeat;
}

.arrow_box {
    display: flex;
    margin-left: 190px;
    animation: arrow 1s forwards;
}

.arrow {
    width: 44px;
    height: 44px;
    background-image: url(../image/index_1st/arrow.png);
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.left.arrow {
    transform: scaleX(-1);
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.arrow:hover {
    opacity: 0.8;
}

.index_2nd {
    width: 1920px;
    height: 1080px;
    background-image: url(../image/index_2nd/index.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

/* ------------------------------------------------------ */

.page2_title,
.page3_title {
    width: 650px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left_bracket {
    width: 20px;
    height: 20px;
    background-image: url(../image/index_2nd/2_07.gif);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.title {
    width: 550px;
    color: #0f2746;
    font-size: 45px;
    font-family: default_Bold;
    text-align: center;
}

.right_bracket {
    width: 20PX;
    height: 52px;
    background-image: url(../image/index_2nd/2_03.gif);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.page2_container {
    width: 1500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left_bracket.big {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    animation: left_bracket_big 2s forwards;

}

.right_bracket.big {
    width: 50px;
    height: 500px;
    background-size: 50px 50px;
}

.page2_area {
    display: flex;
}

.block {
    width: 160px;
    height: 400px;
    animation: page2_main_area 4s forwards;
}

.block_title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #0f2746;
    font-family: default_Bold;
    font-size: 30px;
    margin-top: 10px;
}

.block_eng {
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #0f2746;
    font-family: default_Lite;
    font-size: 19px;
    margin-top: 10px;
}

.block_text {
    height: 55px;
    text-align: center;
    color: #0f2746;
    font-family: default_Lite;
    font-size: 20px;
    margin-top: 10px;
}

.page2_img {
    width: 160px;
    height: 160px;
    background-size: 160px 160px;
}

.img1 {
    background-image: url(../image/index_2nd/1_03.png);
}

.img2 {
    background-image: url(../image/index_2nd/1_05.png);
}

.img3 {
    background-image: url(../image/index_2nd/1_07.png);
}

.img4 {
    background-image: url(../image/index_2nd/1_09.png);
}

.img5 {
    background-image: url(../image/index_2nd/1_11.png);
}

.img6 {
    background-image: url(../image/index_2nd/1_13.png);
}

.img7 {
    background-image: url(../image/index_2nd/1_16.png);
}

.fa-solid {
    height: 160px;
    line-height: 160px !important;
    color: #0f2746;
    font-size: 35px;
    margin: 0px 10px 0px 10px;
    animation: page2_main_area 4s forwards;
}

/* ------------------------------------------------------ */

.index_3rd {
    width: 1920px;
    height: 1080px;
    background-image: url(../image/index_3rd/background.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.title.page3 {
    color : #b7cde9;
    width: 400px;
}

.left_bracket.page3 {
    background-image: url(../image/index_3rd/sss_07.png);
}

.right_bracket.page3 {
    background-image: url(../image/index_3rd/sss_03.png);
}

.page3_container {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 50px auto 0px auto;
}

.page3_block {
    animation: page3_main_area 4s forwards;
}

.page3_img {
    width: 350px;
    height: 320px;

    background-size: 350px 320px;
    background-repeat: no-repeat;
}

.android {
    background-image: url(../image/index_3rd/index_03.gif);
}

.web {
    background-image: url(../image/index_3rd/index_05.gif);
}

.design {
    background-image: url(../image/index_3rd/index_07.png);
}

.page3_text {
    color : #b7cde9;
    text-align: center;
}

.eng {
    margin-top: 25px;
    font-size: 30px;
    font-family: default_bold;
}

.kor {
    margin-top: 10px;
    font-size: 20px;
}



/* 네비게이션 미디어 width 1000px */


/* --------------------------------------------------------------------------- */
/* 애니메이션 keyframes */
@keyframes line1 {
    0% {
        width: 0px;
    }

    100% {
        width: 1200px;
    }
}

@keyframes line2 {
    0% {
        width: 0px;
    }

    100% {
        width: 1050px;
    }
}

@keyframes line3 {
    0% {
        width: 0px;
    }

    100% {
        width: 900px;
    }
}

@keyframes line4 {
    0% {
        width: 0px;
    }

    100% {
        width: 750px;
    }
}

@keyframes line5 {
    0% {
        width: 0px;
    }

    100% {
        width: 600px;
    }
}

@keyframes left_bracket_big {
    50% {
        width: 50px;
    }

    99% {
        width: 1420px;
    }

    100% {
        width: 50px;
    }
}

@keyframes page2_main_area {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes page3_main_area {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 0px 200px;
        opacity: 0;
    }

    100% {
        background-position: 0px 150px;
    }
}

/* --------------------------------------------------------- */