<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MAZI - About Us</title>

        <script type="text/javascript" src="../js/common.js"></script>
        <link rel="stylesheet" href="../css/common.css">
        
        <link rel="stylesheet" href="../css/about_us.css">
        <script type="text/javascript" src="../js/jquery-1.12.3.js"></script>
        <script type="text/javascript" src="../js/about_us.js"></script>
        <link rel="icon" href="../image/mazi(smlogo_none).png"/> 
    </head>
    <body id="body">
        <div class="floating">
            <a href="../../index.html"><div class="Logo"></div></a>
            <div class="nav_bar">
                <a class="nav_btn" href="../../index.html">Home</a>
                <a class="nav_btn" href="about_us.html">About Us</a>
                <a class="nav_btn" href="news.html">News</a>
                <a class="nav_btn" href="portfolio.html">Portfolio</a>
                <a class="nav_btn" href="faq.html">FAQ</a>
            </div>
        </div>
        <div class="blank">
        </div>
        <div id="Select_Bar">
            <div>
                <div id="Select_Logo" class="Select_Button">
                    <div>
                        LOGO
                    </div>
                </div>
                <div id="Select_Moto" class="Select_Button">
                    <div>
                        MOTO
                    </div>
                </div>
                <div id="Select_Expertise" class="Select_Button">
                    <div>
                        EXPERTISE
                    </div>
                </div>
                <div id="Select_Location" class="Select_Button">
                    <div>
                        LOCATION
                    </div>
                </div>
            </div>
        </div>
        <div id="Logo" class="Container act">
            <div>
                <div>
                    <div id="Logo_Head">
                        LOGO
                    </div>
                </div>
                <div class="bar">
                </div>
                <div>
                    <div id="Logo_Img">
                        <img src="../image/logo.png" alt="LOGO">
                    </div>
                </div>
                <div id="Logo_SecondLine">
                    <div>
                        <span class="Font_Bold">"MAZI"</span>는 그리스어로<span class="Font_Medium">&nbsp;협력, 함께</span>
                    </div>
                    <div>
                        라는 뜻을 내포하고 있습니다."
                    </div>
                </div>
                <div id="Logo_ThirdLine">
                    <div>
                        저희 회사는 사장, 직원 거리낌 없이 자유롭게 발언하고 의논하여
                    </div>
                    <div>
                        회사 성장에 누구나 자부심을 가지고, 성장에 기여하여 모두가 회사에 소속된 소중한
                    </div>
                    <div>
                        인력이자 친구이자 동료임을 매일 생각하고 그런 회사가 되기위해 만들었습니다.
                    </div>
                </div>
            </div>
        </div>
        <div id="Moto" class="Container">
            <div>
                <div>
                    <div id="Moto_Head">
                        MOTTO
                    </div>
                </div>
                <div class="bar secondbar"></div>
                <div id="Moto_SecondLine">
                    <div>
                        고객과 회사가
                    </div>
                    <div>
                        <span>만족하는 서비스</span>를 제공하자
                    </div>
                </div>
                <div id="Moto_ThirdLine">
                    <div>
                        저희 MAZI의 사훈은 "고객과 회사가 만족하는 서비스를 제공하자"입니다.
                    </div>
                    <div>
                        이유는 고객도 만족시키지 못하고서야 회사는 떳떳할수가 없습니다.
                    </div>
                    <div>
                        그래서 저희는 고객님에게 서비스를 제공함으로써 만족도와 재방문율을 높이며
                    </div>
                    <div>
                        언제든 고객님에게 최고의 서비스를 제공해 드릴 것을 약속 합니다.
                    </div>
                </div>
            </div>
            
        </div>
        <div id="Expertise" class="Container">
            <div>
                <div id="Expertise_Head">
                    EXPERTISE
                </div>
                <div class="bar"></div>
                <div id="Expertise_ContentsBox">
                    <div id="Android_Box">
                        <div id="Android_Img">
                            <img src="../image/about_us/Andriod Project.png" alt="Andriod Project">
                        </div>
                        <div id="Android_Head">
                            Android Project
                        </div>
                        <div id="Android_FirstLine" class="FirstLine">
                            안드로이드 프로젝트
                        </div>
                        <div id="Android_SecondLine" class="SecondLine">
                            <div>
                               안드로이드 어플리케이션을 제작하여 
                            </div>
                            <div>
                               더욱 효율적인 방법으로 마케팅 해보세요!
                            </div>
                            <div>
                               
                            </div>
                        </div>
                    </div>
                    <div id="Web_Box">
                        <div id="Web_Img">
                            <img src="../image/about_us/Web Project.png" alt="Web Project">
                        </div>
                        <div id="Web_Head">
                            Web Project
                        </div>
                        <div id="Web_FirstLine" class="FirstLine">
                            웹 프로젝트
                        </div>
                        <div id="Web_SecondLine" class="SecondLine">
                            <div>
                                회사 홈페이지 및 쇼핑몰을 구축해보세요!
                            </div>
                            <div>
                                
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div id="Design_Box">
                        <div id="Design_Img">
                            <img src="../image/about_us/Re-design Project.png" alt="Re-design Project">
                        </div>
                        <div id="Design_Head">
                            Re-Design Project
                        </div>
                        <div id="Design_FirstLine" class="FirstLine">
                            리디자인 프로젝트
                        </div>
                        <div id="Design_SecondLine" class="SecondLine">
                            <div>
                                새로움이 필요한 창업주님 
                            </div>
                            <div>
                                저희에게 디자인 맡겨보시는건
                            </div>
                            <div>
                                어떠세요?
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="Location" class="Container">
            <div>
                준비중입니다.
            </div>
        </div>
    </body>
</html>