<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="icon" href="../image/mazi(smlogo_none).png"/> 
    

    <title>MAZI</title>
</head>

<body>
    <div class="floating">
        <div class="Logo" href="../../index.html"></div>
        <div class="nav_bar">
            <a class="nav_btn" href="../../index.html">Home</a>
            <a class="nav_btn" href="../view/about_us.html">About Us</a>
            <a class="nav_btn" href="../view/news.html">News</a>
            <a class="nav_btn" href="../view/portfolio.html">Portfolio</a>
            <a class="nav_btn" href="../view/faq.html">FAQ</a>
        </div>
    </div>

    <div class="m">
        <div class="screen page1">
            <!-- <div class="slide mazi_img">
                <div class="line_box">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="mazi_txt"></div>
                <div class="arrow_box">
                    <div class="left arrow"></div>
                    <div class="right arrow"></div>
                </div>
            </div> -->
        </div>
        <div class="screen page2">
            <div class="index_2nd">
                <div class="page2_title">
                    <div class="left_bracket"></div>
                    <div class="title">Business Introduction</div>
                    <div class="right_bracket"></div>
                </div>
                <div class="page2_container">
                    <!-- <div class="left_bracket big"></div>
                    <div class="page2_area">
                        <div class="block">
                            <div class="page2_img img1"></div>
                            <div class="block_title">계약</div>
                            <div class="block_eng">Contract</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-chevron-right"></div>
                        
                        <div class="block">
                            <div class="page2_img img2"></div>
                            <div class="block_title">기획</div>
                            <div class="block_eng">Plan</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-angle-right"></div>

                        <div class="block">
                            <div class="page2_img img3"></div>
                            <div class="block_title">1차수정</div>
                            <div class="block_eng">1st Revision</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-angle-right"></div>

                        <div class="block">
                            <div class="page2_img img4"></div>
                            <div class="block_title">디자인</div>
                            <div class="block_eng">Design</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-angle-right"></div>

                        <div class="block">
                            <div class="page2_img img5"></div>
                            <div class="block_title">2차수정</div>
                            <div class="block_eng">2st Revision</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-angle-right"></div>

                        <div class="block">
                            <div class="page2_img img6"></div>
                            <div class="block_title">기능설계</div>
                            <div class="block_eng">Functional Design</div>
                            <div class="block_text">설명</div>
                        </div>

                        <div class="fa-sharp fa-solid fa-angle-right"></div>

                        <div class="block">
                            <div class="page2_img img7"></div>
                            <div class="block_title">완료</div>
                            <div class="block_eng">Complete</div>
                            <div class="block_text">설명</div>
                        </div>
                    </div>
                    <div class="right_bracket big"></div> -->
                </div>
            </div>
        </div>
        <div class="screen page3">
            <div class="index_3rd">
                <div class="page3_title">
                    <div class="left_bracket page3"></div>
                    <div class="title page3">Project Process</div>
                    <div class="right_bracket page3"></div>
                </div>
                <div class="page3_container">
                    <!-- <div class="page3_block">
                        <div class="page3_img android"></div>
                        <div class="page3_text eng">Android Project</div>
                        <div class="page3_text kor">안드로이드 프로젝트</div>
                    </div>

                    <div class="page3_block">
                        <div class="page3_img web"></div>
                        <div class="page3_text eng">Web Project</div>
                        <div class="page3_text kor">웹 프로젝트</div>
                    </div>

                    <div class="page3_block">
                        <div class="page3_img design"></div>
                        <div class="page3_text eng">Re-Design Project</div>
                        <div class="page3_text kor">리디자인 프로젝트</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>