<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../js/common.js"></script>
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/portfolio.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="../js/portfolio.js"></script>
        <link rel="icon" href="../image/mazi(smlogo_none).png"/> 
        <title>MAZI-Portfolio</title>
    </head>
    <body>
        <div class="floating">
            <a href="../../index.html"><div class="Logo color"></div></a>
            <div class="nav_bar">
                <a class="nav_btn color" href="../../index.html">Home</a>
                <a class="nav_btn color" href="about_us.html">About Us</a>
                <a class="nav_btn color" href="news.html">News</a>
                <a class="nav_btn color" href="portfolio.html">Portfolio</a>
                <a class="nav_btn color" href="faq.html">FAQ</a>
            </div>
        </div>
        <!-- 컨테이너 -->
        <div class="container display_flex">
            <div class="container_title">Portfolio</div>
            <div class="container_item_wrap display_flex">
                <div class="container_item display_flex" index="0" category="Android">
                    <div class="item_img img_index_1"></div>
                    <div class="item_captions">
                        <div>Android Project</div>
                        <div>안드로이드 프로젝트</div>
                    </div>
                </div>
                <div class="container_item display_flex" index="1" category="Web">
                    <div class="item_img img_index_2"></div>
                    <div class="item_captions">
                        <div>Web Project</div>
                        <div>웹 프로젝트</div>
                    </div>
                </div>
                <div class="container_item display_flex" index="2" category="Promotion">
                    <div class="item_img img_index_3"></div>
                    <div class="item_captions">
                        <div>Promotion Project</div>
                        <div>프로모션 프로젝트</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 디테일 페이지 -->
        <div class="item_detail_page">
            <div class="item_detail_page_box">
                <div class="item_category">
                    <div class="item_category_button i0" index="0" category="Android">Android</div>
                    <div class="item_category_button i1" index="1" category="Web">Web</div>
                    <div class="item_category_button i2" index="2" category="Promotion">Promotion</div>
                    <div class="page_close" onclick="$('.item_detail_page').css('display', 'none')">&times;</div>
                </div>
                <div class="item_detail_info">
                    <div class="item_detail">
                        <div class="item_detail_main">
                            <div class="button_before">
                                <div></div>
                            </div>
                            <img class="item_detail_main_img" src="" alt="">
                            <div class="button_after">
                                <div></div>
                            </div>
                        </div>
                        <!-- js로 아래 영역 안에 사진을 있는 만큼 넣어주고 클릭 했을때의 이벤트를 index속성값의 번호의 사진을 위 메인 프레임 위에 표시 -->
                        <div class="item_detail_sub">
                            <!-- <div class="item_detail_sub_img i0" index="0"></div>
                            <div class="item_detail_sub_img i1" index="1"></div>
                            <div class="item_detail_sub_img i2" index="2"></div>
                            <div class="item_detail_sub_img i3" index="3"></div>
                            <div class="item_detail_sub_img i4" index="4"></div> -->
                        </div>
                    </div>
                    <div class="item_list_wrap">
                        <div class="item_list">
                            <!-- <div class="item i1" index="1">프로젝트2</div>
                            <div class="item i2" index="2"></div>
                            <div class="item i3" index="3"></div>
                            <div class="item i4" index="4"></div>
                            <div class="item i5" index="5"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>